body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #FF8C00;
}

h1 {
  margin-top: 0
}

.container {
  margin: 20vh auto;
  width: 100%;
  max-width: 500px;
  padding: 70px 30px 30px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.4);
}

.v {
  padding-top: 30px;
}

input {
  margin-top: 20px;
  padding: 7px 30px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #494949;
  font: inherit;
  font-size: 15px;
}

button {
  margin-top: 5px;
  padding: 7px 30px;
  border-radius: 20px;
  border: none;
  transition: 0.5s;
  background-image: linear-gradient(to right,#f6d365 0%, #FF8C00 51%, #f6d365 100%);
  background-size: 200% auto;
  color: #494949;
  font: inherit;
  font-size: 15px;
}

button:hover {
  background-position: right center; 
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-height: 200px;
}

.messages {
  align-items: center;
  justify-content: center;
  background: RGBA(255, 255, 255, 0);
  border-radius: 10px;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
  height: 200px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.messages::-webkit-scrollbar {
  display: none;
}

#user-msg {
  text-align: right;
}

#bot-msg {
  text-align: left;
}

* {
  margin: 0px;
  padding: 0px;
}

.context {
  width: 100%;
  position: absolute;
  top: 5vh;
}

.area{
  background: #4825C7;
  width: 100%;
  height:100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 165, 0, 1);
  animation: animate 25s linear infinite;
  box-shadow: 0 0 50px 70px #FFA500;
  bottom: -150px;
  
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* animation keyframes by mohaiman https://codepen.io/mohaiman/pen/MQqMyo */

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 50%;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

@media (min-width: 320px) {
  body {
    color: pink
  }
}

@media (min-width: 768px) {
  body {
    color: pink
  }
}

@media (min-width: 1200px) {
  body {
    color: pink
  }
}