body {
  background-color: #8148ba;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.main div {
  margin: 0px 10px 0px 10px;
}

a {
  text-decoration-line: none;
}

img {
  max-height: 200px;
}

.container {
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}